section {
  margin: 16px;
}

.grid {
  display: grid;
  grid-gap: 16px;
  margin: auto;
  max-width: 1380px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 720px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, 1fr);
  }
}
