.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  padding: 8px;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.image {
  position: relative;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
