.title {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.description {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
