header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  padding: 16px;
  width: 100%;
  z-index: 100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin: auto;
  max-width: 1380px;
}

.logo {
  padding: 0px;
  font-size: 1rem;
  z-index: 100;
}

.button {
  padding: 0px;
  background: none;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  z-index: 100;
}

@media (min-width: 540px) {
  header {
    position: static;
  }

  .logo {
    padding: 8px;
  }

  .button {
    display: none;
  }
}
