.grid {
  display: grid;
  grid-gap: 16px;
  margin: auto;
  max-width: 1380px;
}

.image {
  position: relative;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: var(--black);
  font-size: 2rem;
}

.description {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 540px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
