.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.fullName,
.cardDetails {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
